{% set node = nodes[inventory_hostname] %}
feature ospf
feature interface-vlan
feature hsrp
!
hostname {{ inventory_hostname }}
!
{% if node.administrators is defined and node.administrators and node.administrators != "" %}
{%   for username in node.administrators %}
username {{ username.username }} password {{ username.password }} role network-admin
{%   endfor %}
{% endif %}
!
{% if node.ntp is defined and node.ntp and node.ntp != "" %}
{%   for server_ip in node.ntp %}
ntp server {{ server_ip }}
{%   endfor %}
{% endif %}