{% for hostname, svi_list in svi_service.items() if hostname == inventory_hostname %}
{%   for svi in svi_list %}
{%     if svi["state"] != "remove" %}
interface {{ svi["interface_name"]  }}
{%       if svi["state"] == "active" %}
  no shutdown
{%       else %}
  shutdown
{%       endif %}
  description {{ svi["description"] }}
  ip address {{ svi["ip_address"] }}
  ip router ospf 1 area 0.0.0.0
{%       if svi["hsrp"] is defined %}
  hsrp {{ svi["hsrp"]["id"] }}
    preempt delay minimum 0 reload 0 sync 0
    priority {{ svi["hsrp"]["priority"] }}
    ip {{ svi["hsrp"]["ip"] }}
{%       endif %}
!
{%     endif %}
{%   endfor %}
{% endfor %}