!
{% set node = nodes[inventory_hostname] %}
hostname {{ inventory_hostname }}
!
{% if node.ntp is defined and node.ntp and node.ntp != "" %}
{%   for server_ip in node.ntp %}
ntp server {{ server_ip }}
{%   endfor %}
{% endif %}