{% set node = nodes[inventory_hostname] %}
{% if node.l2_interfaces is defined and node.l2_interfaces and node.l2_interfaces != "" %}
!
{%   for vlan in node.l2_interfaces %}
vlan {{ vlan.vlan_id }}
 name {{vlan.vlan_name}}
!
{%   endfor %}
!
{%   for vlan in node.l2_interfaces %}
{%     for port in vlan.ports %}
interface {{ port }}
 switchport
 switchport mode access
 switchport access vlan {{ vlan.vlan_id }}
 no shutdown
!
{%     endfor %}
{%   endfor %}
{% endif %}
{% if node.l3_interfaces is defined and node.l3_interfaces and node.l3_interfaces != "" %}
!
{%   for interface in node.l3_interfaces %}
interface {{ interface.if_name }}
 ip address {{ interface.if_ip | ipaddr("address")}} {{interface.if_ip | ipaddr("netmask") }}
 no shutdown
!
{%   endfor %}
{% endif %}
{% if node.wan_links is defined and node.wan_links and node.wan_links != "" %}
!
{%   for interface in node.wan_links %}
interface {{ interface.if_name }}
 ip address {{ interface.if_ip | ipaddr("address")}} {{interface.if_ip | ipaddr("netmask") }}
 no shutdown
!
{%   endfor %}
{% endif %}
{% if node.gre_interfaces is defined and node.gre_interfaces and node.gre_interfaces !="" %}
{%   for gre_interface in node.gre_interfaces %}
interface Tunnel{{ gre_interface.tunnel_id }}
 ip address {{ gre_interface.ip_addr | ipaddr("address") }} {{ gre_interface.ip_addr | ipaddr("netmask") }}
 ip mtu 1400
 ip tcp adjust-mss 1360
 tunnel source {{ gre_interface.tunnel_src }}
 tunnel destination {{ gre_interface.tunnel_dst }}
!
{%   endfor %}
{% endif %}