{% for hostname, svi_list in svi_service.items() if hostname == inventory_hostname %}
{%   for svi in svi_list %}
{%     if svi["state"] != "remove" %}
{%       if hostname in groups["spoke"] %}
interface {{ svi["interface_name"]  }}.{{ svi["vlan_id"] }}
 encapsulation dot1q {{ svi["vlan_id"] }}
{%       else %}
interface {{ svi["interface_name"] }}
{%       endif %}
{%       if svi["state"] == "active" %}
 no shutdown
{%       else %}
 shutdown
{%       endif %}
 description {{ svi["description"] }}
 ip address {{ svi["ip_address"] | ipaddr('address') }} {{ svi["ip_address"] | ipaddr('netmask') }}
 ip ospf 1 area 0
!
{%     endif %}
{%   endfor %}
{% endfor %}